<mat-vertical-stepper labelPosition="bottom" linear>
  <mat-step label="Shipping Address" completed="true">
    <p>Shipping Address Details</p>
  </mat-step>
  <mat-step label="Billing Address" completed="false" optional>
    <p>Billing Address Details</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Place Order" completed="false">
    <p>Order Details</p>
  </mat-step>
</mat-vertical-stepper>


<!--
  *** 2 types of Stepper
1. horizontal
<mat-horizontal-stepper>

2. Vertical
<mat-vertical-stepper>

  // First step is complete then use second step so you can use completed="false" property
above code is hard coded but depends using dynamically use property binding


-->


